@import 'colors';

.header {
	position: relative;
	top: -15px;
	width: 100%;
	font-size: 70px;
	font-weight: 300;
	font-style: italic;
  text-align: center;
  line-height: 0.7;
	text-shadow: 3px 3px 3px $bodyTextColor;
	color: $headerTextColor;
}

@media (max-width: 420px) {

	.header {
	font-size: 18vw;
  }
}

.list {
	background: $appBackgroundColor;
  margin-top: 30px;
  padding: 20px;
	position: relative;
	box-shadow: 0 2px 4px 0 $appShadowColor1,
              0 25px 50px 0 $appShadowColor2;
              
  .description {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: underline;
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $bodyTextColor;
    font-weight: 600;
  }

  .description:first-child {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
  }

  .link {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 135px;
    text-decoration: none;
  
    .linkButton {
      font-size: 12px;
      font-family: inherit;
      font-weight: inherit;
      line-height: 1.4em;
      font-style: italic;
      display: block;
      position: relative;
      border: 1px solid $buttonBorderColor;
      background: $buttonBackgroundColor2;
      background: linear-gradient(to bottom, $buttonBackgroundColor1, $buttonBackgroundColor2);
      margin: 0 5px;
      padding: 5px;
      border-radius: 12px;
      box-shadow: $buttonShadowColor1 0 1px 0, inset $buttonShadowColor2 0 1px 0;
      text-shadow: $buttonTextShadowColor 0 1px 0;
      color: $buttonTextColor;
      cursor: pointer;
      overflow: hidden;
      text-decoration: none;
    }
    
    .linkButton:hover {
      border: 1px solid $buttonBorderColor;
      text-shadow: $buttonTextShadowColor 0 1px 0;
      background: $buttonBackgroundColor2;
      background: linear-gradient(to bottom, $buttonHoverBackgroundColor1, $buttonBackgroundColor2);
      color: $buttonActiveTextColor;
    }
    
    .linkButton:active {
      text-shadow: $buttonTextShadowColor 0 -1px 0;
      border: 1px solid $buttonTextShadowColor;
      background: $buttonActiveBackgroundColor1;
      background: linear-gradient(to bottom, $buttonActiveBackgroundColor1, $buttonActiveBackgroundColor2);
      color: $buttonActiveTextColor;
      box-shadow: $buttonActiveShadowColor1 0 1px 0, inset $buttonShadowColor2 0 1px 0;
      outline: none;
    }
  }
}