.container {
	display: inline;
}

.filter {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.filter:hover {
	border-color: rgba(175, 47, 47, 0.5);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.selected {
	border-color: rgba(175, 47, 47, 0.9);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}