@import 'colors';

.clearCompleted {
	position: relative;
	height: 24px;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	margin: 3px 0;
	padding: 3px 7px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.clearCompleted:hover {
	border-color: $clearHoverBorderColor;
	box-shadow: 1px 1px 3px $clearHoverShadowColor;
}

.clearCompleted:active {
	border-color: $clearActiveBorderColor;
	box-shadow: 1px 1px 3px $clearHoverShadowColor;
}

.clearCompleted.hidden {
	display: none;
}

@media (max-width: 914px) {

	.clearCompleted {
		height: auto;
		margin: 0;
		padding: 3px;
	}
}